<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          Regulamin
        </h2>
        <hr>
      </div>

      <div class="terms">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p class="text-center bold">§1</p>
            <p class="text-center bold">WPROWADZENIE</p>
            <p>1. Właścicielem serwisu internetowego dostępnego pod adresem www.pasjasmakucatering.pl zwanym dalej Sprzedawcą, jest firma Pasja Smaku Catering Karolina Miazga-Jaje z siedzibą w Braciejowej 92A, 39-210 Dębica, NIP: 8722413997 , REGON: 364805144 , telefon: 531 402 700, adres e-mail: pasjasmaku@o2.pl.</p>
            <p>2. Regulamin określa rodzaje i zakres świadczenia usług drogą elektroniczną, telefoniczną, zasady zamawiania cateringu, prawa i obowiązki Klienta i Sprzedawcy oraz tryb rezygnacji z zamówienia lub modyfikowania zamówionych dni i postępowania reklamacyjnego.</p>
            <p class="text-center bold">§2</p>
            <p class="text-center bold">Definicje</p>
            <p>1. Sprzedawca – firma Pasja Smaku Catering Karolina Miazga-Jaje z siedzibą w Braciejowej 92A, 39-210 Dębica, NIP: 8722413997 , REGON: 364805144 , telefon: 531 402 700, adres e-mail: pasjasmaku@o2.pl. Sprzedawca jest Stroną Umowy Sprzedaży oraz Administratorem Danych Osobowych przetwarzanych w celu realizacji Umowy kupna-sprzedaży.</p>
            <p>2. Produkt, Dieta – Zestaw 5 posiłków w formie dietetycznej o łącznej kaloryczności od 1200 do 3500 kcal dostarczany klientowi w wybranym terminie pod wskazany adres.</p>
            <p>3. Klient – podmiot dokonujący zakupów za pośrednictwem rozmowy telefonicznej, mailowo lub przez wiadomość SMS.</p>
            <p>4. Regulamin – niniejszy regulamin zamawiania zestawów oraz działania firmy.</p>
            <p>5. Zamówienie – oświadczenie woli Klienta składane za pomocą poczty e-mail lub telefonicznie, zmierzające bezpośrednio do zawarcia Umowy Sprzedaży Produktu lub Produktów ze Sprzedawcą.</p>
            <p>6. Umowa Sprzedaży – umowa sprzedaży Produktu zawierana między Klientem, a Sprzedawcą zawarta jest w momencie przesłania zamówienia wiadomością SMS lub e-mail przez klienta.</p>
            <p>7. Dzień roboczy – jeden dzień od poniedziałku do piątku za wyjątkiem dni ustawowo wolnych od pracy.</p>
            <p>8. Ustawa o prawach konsumenta, Ustawa z dnia 30 maja 2014 r. o prawach konsumenta (Dz.U. 2014 poz. 827 ze zm.). Możliwość dostawy pod adres wskazany przez Klienta w trakcie składania Zamówienia potwierdzana jest przez Sprzedawcę podczas przyjęcia Zamówienia do realizacji. Dodatkowo w sytuacji niemożności realizacji dostawy pod podany adres, Klient jest o tym informowany.</p>
            <p>9. Kodeks cywilny – ustawa kodeks cywilny z dnia 23 kwietnia 1964 r. (Dz. U. Nr 16, poz. 93 ze zm.).</p>
            <p class="text-center bold">§3</p>
            <p class="text-center bold">Postanowienia ogólne</p>
            <p>1. Sprzedawca zobowiązuje się do świadczenia usług na rzecz Klienta w zakresie i na warunkach określonych w Regulaminie.</p>
            <p>2. Klient zobowiązuje się do korzystania z usług cateringowych zgodnie z obowiązującymi przepisami prawa i zasadami współżycia społecznego. Klient korzystający z usług Sprzedawcy zobowiązany jest do przestrzegania niniejszego Regulaminu.</p>
            <p>3. Klient wyraża zgodę na gromadzenie, przechowywane i przetwarzanie przez Sprzedawcę oraz Podmioty Zewnętrzne. Dane osobowe, które są przetwarzane.</p>
            <p>Cel ich przetwarzania to:</p>
            <p>Imię i nazwisko- Weryfikacja płatności, uwag klienta oraz utrzymywanie korespondencji telefonicznej oraz mailowej.</p>
            <p>Adres e-mail- korespondencja e-mail, kontakt z klientem, rozliczenie zamówień oraz zbieranie informacji lub szczegółów zamówienia.</p>
            <p>Numer telefonu- Możliwość zbierania oraz składania zamówień, informacja o wysokości płatności za dane zamówienie, informowanie klientów o nagłych opóźnieniach w dostawie, zmianach czy planowanej przerwie w dostarczaniu posiłków.</p>
            <p>Adres dostawy- Dostawa produktu, naliczanie zniżek lub dopłat za usługę, odbiór opłaty za usługę z wcześniejszym ustalaniu płatności gotówkowej ze sprzedawcą.</p>
            <p>4. Szczegółowe warunki gromadzenia, przetwarzania oraz ochrony danych osobowych przez Sprzedawcę określa Polityka prywatności</p>
            <p>5. Wszelkie ceny podane na stronie cateringu dietetycznego w zakładce: Cennik na stronie www.pasjasmakucatering.pl podane są w polskich złotych (PLN), są cenami brutto zawierającymi wszystkie niezbędne składniki i warianty.</p>
            <p class="text-center bold">§4</p>
            <p class="text-center bold">Zamówienie Produktu</p> 
            <p>1. Sprzedawca umożliwia Klientowi złożenie zamówienia poprzez stronę internetową, na której widnieje adres e-mail w formie wiadomości, rozmowę telefoniczną pod numerem widniejącym na stronie www.pasjasmakucatering.pl lub w prywatnej wiadomości SMS pod numerem 531 402 700, wyboru Produktu na konkretną ilość dni oraz dostaw zgodnie z ofertą cateringu opisaną w zakładce 2. Sprzedawca zastrzega sobie prawo do powiększenia oferty o nowe Produkty. Dodanie nowych Produktów nie stanowi zmiany Regulaminu.</p>
            <p>2. Sprzedawca umożliwia składanie zamówień:</p>
            <p>a. telefonicznie pod numerem 531 402 700.</p>
            <p>b. od poniedziałku do piątku w godzinach od 9.00 do 16.00.</p>
            <p>c. drogą elektroniczną na adres: pasjasmaku@o2.pl przez 7 dni w tygodniu 24 godziny na dobę.</p>
            <p>3. W celu złożenia zamówienia Klient dokonuje wskazania Produktu oferowanego przez Sprzedawcę, określając rodzaj diety, wariant diety oraz kaloryczność posiłków wchodzących w skład Produktu oraz dni, które Produkt będzie dostarczany. Poza wskazaniem Produktu, Klient podaje także dane niezbędne do realizacji zamówienia w tym Dane osobowe oraz adres do dostawy. Dane osobowe oraz sposób ich przetwarzania jest opisany w Polityce Prywatności cateringu.</p>
            <p>4. Wiadomość SMS lub e-mail potwierdzająca zamówienie zawiera ustalone warunki zamówienia, a w szczególności ilość oraz rodzaj Produktu, całkowitą cenę do zapłaty (wraz z kosztami dostawy) oraz informację o przedziale czasowym dostawy Produktu na dzień wcześniej w godzinach wieczornych.</p>
            <p>5. Klient ma prawo do zgłoszenia zastrzeżeń co do treści zawartych w potwierdzeniu zamówienia w ciągu 12 godzin od otrzymania wiadomości od Sprzedawcy. Niezgłoszenie zastrzeżeń w zakreślonym terminie jest równoznaczne z akceptacją warunków zamówienia.</p>
            <p>6. Klient ma prawo zamówienia maksymalnie jednego produktu jako zestaw próbny. Kolejne zamówienia będą traktowane jako złożenie zamówienia na catering w regularnej cenie odpowiadającej cenie danej kaloryczności zestawu.</p>
            <p class="text-center bold">§5</p> 
            <p class="text-center bold">Warunki realizacji złożenia zamówienia oraz dostawy produktu</p>
            <p>1. Zamówienia w cateringu są przyjmowane z wyprzedzeniem pozwalającym Sprzedawcy na staranne przygotowanie zamówienia. Czas realizacji zamówienia jest przedstawiony w tabeli poniżej:</p>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="3">
                      Tabela 1.
                    </th>
                  </tr>
                  <tr>
                    <th>Zmiana/Zamówienie potwierdzone w:</th>
                    <th>Do godz.:</th>
                    <th>Zostanie dostarczone/zmienione w:</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Poniedziałek</td>
                    <td>10.00</td>
                    <td>Wtorek</td>
                  </tr>
                  <tr>
                    <td>Wtorek</td>
                    <td>10.00</td>
                    <td>Środa</td>
                  </tr>
                  <tr>
                    <td>Środa</td>
                    <td>10.00</td>
                    <td>Czwartek</td>
                  </tr>
                  <tr>
                    <td>Czwartek</td>
                    <td>10.00</td>
                    <td>Piątek</td>
                  </tr>
                  <tr>
                    <td>Piątek</td>
                    <td>10.00</td>
                    <td>Sobota/Niedziela/Poniedziałek (w zależności od zamówionej opcji)</td>
                  </tr>
                  <tr>
                    <td>Sobote</td>
                    <td>10.00</td>
                    <td>Poniedziałek</td>
                  </tr>
                  <tr>
                    <td>Niedziela</td>
                    <td>10.00</td>
                    <td>Wtorek</td>
                  </tr>
                </tbody>
              </table>
            </div> 
            <p>2. Zamówienie potwierdzone jest w momencie:</p>
            <p>a. Przesłania na adres e-mail pasjasmaku@o2.pl Potwierdzenia płatności z konta bankowego zawierającego szczegóły pozwalające na identyfikację zamówienia (Imię, nazwisko, adres),</p> 
            <p>b. Wysłanie dokładnej wiadomości z pełnym zamówieniem opartym na dokładnych datach, na które dni zestawy są zamawiane oraz dokładna charakterystyka zestawu wraz z alergiami klienta lub składnikami, które mają być zamienione.</p>
            <p>3. Godziny w Tabeli 1są terminami niepodważalnymi i nieprzekraczalnymi.</p>
            <p>4. Godziny w Tabeli 1 są również obowiązujące w stosunku do dokonywania zmian w zamówieniu takich, jak zmiana Produktu lub adresu dostawy.</p>
            <p>5. Odstępstwa od pkt.3 i 4 mogą być stosowane, ale tylko i wyłącznie po uzgodnieniu ze Sprzedawcą telefonicznie.</p>
            <p>6. Sprzedawca zastrzega sobie prawo do wstrzymania lub odmowy realizacji zamówień w następujących przypadkach:</p>
            <p>a. złożenia zamówienia w sposób nieprawidłowy, uniemożliwiający jego realizację, np. Nie podanie miejsca dostawy czy dokładnych warunków zamówienia;</p>
            <p>b. bezskuteczności uzgodnienia z Klientem miejsca i terminu dostawy Produktu;</p>
            <p>c. braku dokonania płatności za zakupiony Produkt;</p>
            <p>d. rażącego naruszenia przez Klienta postanowień niniejszego Regulaminu.</p>
            <p>7. Koszt dostawy Produktu na terenie miast  jest wliczony w cenę Produktu określonego w Cenniku dostępnym na stronie www.pasjasmakucatering.pl. W przypadku realizacji zamówień poza w/w strefą dowozu może być doliczona opłata dodatkowa, Sprzedawca ma prawo do odmowy realizacji zamówienia pod adres znajdujący się poza wymienioną strefą dostaw.</p>
            <p>8. W przypadku złożenia zamówienia z dostawą poza teren, w którym jest wliczona cena produktu, koszt dostawy zostanie ustalony z Klientem indywidualnie.</p>
            <p>9. Sprzedawca zastrzega sobie prawo do ustalenia z Klientem nowego terminu realizacji zamówienia w przypadku, gdy zamówienie w pierwszym terminie jest niemożliwa ze względu na przyczyny niezależne od Sprzedawcy, a których usunięcie nie jest możliwe.</p>
            <p>10. Klient ma prawo do wstrzymania dostaw w trakcie trwania okresu zamówienia po wcześniejszym telefonicznym lub za pośrednictwem poczty e-mail powiadomieniu Sprzedawcy. Informacja o wstrzymaniu dostaw powinna zostać zgłoszona z wyprzedzeniem określonym w Tabeli 1. Okres zamówienia zostanie przedłużony o ilość dni, w których doszło do wstrzymania dostawy.</p>
            <p>11. Sprzedawca dopuszcza możliwość eliminacji niektórych składników z diety. Za indywidualne wykluczenia doliczana będzie dopłata ustalona w zakładce cennik na stronie www.pasjasmakucatering.pl</p>
            <p>12. Poza informacjami, wymaganymi standardowo podczas składania zamówienia, Klient zobowiązany jest poinformować Sprzedawcę o wszelkich dolegliwościach zdrowotnych, w tym alergiach pokarmowych i innych chorobach lub dolegliwościach, wymagających eliminacji lub ograniczenia spożywania określonych produktów. Sprzedawca nie ma obowiązku realizacji każdego wykluczenia z diety i zastrzega sobie w takich przypadkach prawo do odmowy przyjęcia zamówienia.</p>
            <p>13. Zrealizowanie zamówienia z uwzględnieniem informacji, o których mowa w ust. 12 powyżej, nie stanowi przyjęcia odpowiedzialności Sprzedawcy za ewentualne niekorzystne samopoczucie Klienta lub negatywną reakcję organizmu na zestaw składników, w szczególności z powodu braku wiedzy i wpływu Sprzedawcy o pozostałych przyjmowanych przez klienta płynach i produktach.</p>
            <p>14. W razie nieodebrania przez Klienta Zamówienia spowodowane nieobecnością osoby upoważnionej do odbioru zamówienia lub jakąkolwiek inną okolicznością/okolicznościami nie zgłoszoną w terminach oznaczonych w Tabeli 1, bądź błędnie podanymi szczegółami adresowymi dostawy, przedmiot zamówienia uważa się za skutecznie doręczony. Klient nie jest w takim wypadku uprawniony do domagania się zwrotu należności za Zamówienie w części przypadającej na dany dzień lub zgłaszania jakichkolwiek innych roszczeń z tytułu nieotrzymania Zamówienia.</p>
            <p>15. W sytuacji gdy wystąpią czynniki niezależne od Sprzedawcy, które utrudnią lub opóźnią dostawę Produktu, Klient nie zachowuje możliwości dochodzenia zwrotu. Mowa tu o przypadkach np. związanych z dużymi utrudnieniami pogodowymi. Nie jest możliwe również dochodzenie odszkodowania w takich przypadkach.</p>
            <p>16. W przypadku, gdy dojdzie do przywłaszczenia Produktu przez osoby trzecie po dostarczeniu przez Sprzedawcę, Sprzedawca nie ponosi odpowiedzialności. Dostarczenie pod wskazany adres paczki jest potwierdzanie przesłaniem SMS lub telefonicznie zaraz po dostarczeniu zestawu w umówione miejsce. Sprzedawca z momentem wysłania wiadomości SMS o dostarczeniu produktu nie bierze odpowiedzialności za zestaw, kiedy on zostanie odebrany przez klienta, w tym momencie zestaw cateringowy jest uważany za pozytywnie dostarczony.</p>
            <p>17. W przypadku rezygnacji z zamówienia Klientowi przysługuje zwrot kwoty za niewykorzystane dni z uwzględnieniem czasu rozwiązania umowy określonego w Tabeli 1 po ówczesnym zwrocie dowodu wpłaty: paragonu lub faktury w celu wystawienia korekty lub zawieszenie takiego zamówienia aż do odwołania przez klienta na dwa dni przed dniem realizacji dalszego zamówienia na zestawy.</p>
            <p>18. W przypadku zmiany Produktu w czasie realizacji zamówień na inny Produkt, Klient musi dokonać opłaty różnicy w zamówieniu, przy otrzymaniu kalkulacji w wiadomości SMS lub e-mail. Zmiana zostanie uwzględniona zgodnie z Tabelą 1.</p>
            <p class="text-center bold">§6</p>
            <p class="text-center bold">Metody płatności</p>
            <p>1. Sprzedawca umożliwia następujące metody płatności:</p>
            <p>a. przelew tradycyjny na rachunek bankowy Sprzedawcy prowadzony przez ING Bank o numerze: 06 1050 1836 1000 0092 2835 4420</p>
            <p>b. gotówkowe przy odbiorze - po wcześniejszej telefonicznej mowie ze sprzedawcą.</p>
            <p>2. Wpłatę za zamówiony Produkt należy dokonać w pełnej kwocie w terminie 7 dni od momentu dostarczenia pierwszego zestawu.</p>
            <p>3. Za dzień płatności uważany jest dzień zaksięgowania wpłaty na koncie Sprzedawcy.</p>
            <p>4. Sprzedawca ma prawo do wysyłania ponagleń do zapłaty wiadomością SMS lub na skrzynkę pocztową klienta.</p>
            <p>5. Paragon lub faktura, która jest potwierdzeniem wpłaty należności jest wystawiana po przelaniu na konto firmowe całej kwoty należności za catering. Data zapłaty za usługę jest uznawana z dniem zaksięgowania przelewu na koncie.</p>
            <p class="text-center bold">§7</p>
            <p class="text-center bold">Postępowanie reklamacyjne</p>
            <p>1. Reklamacje związane z realizacją Umowy dotyczącej Produktu należy składać w terminie 24 godzin od dnia wystąpienia zdarzenia uzasadniającego zgłoszenie reklamacji. Wyjątkiem są reklamacje dotyczące niezrealizowanej dostawy – w takim przypadku reklamację należy złożyć do godz. 23.00 w dniu, w którym dostawa miała zostać zrealizowana. Reklamacje rozpatruje Sprzedawca w terminie 3 dni kalendarzowych od dnia otrzymania reklamacji za wyjątkiem reklamacji dotyczącej dostawy, która rozpatrywana jest niezwłocznie.</p>
            <p>2. Złożona reklamacja powinna zawierać:</p>
            <p>a. Identyfikację Klienta (imię i nazwisko lub nazwa firmy, adres zamieszkania lub adres siedziby firmy oraz adres poczty elektronicznej).</p>
            <p>b. Przedmiot reklamacji, dokumentację fotograficzną wraz ze wskazaniem okresu czasu, którego dotyczy reklamacja oraz okoliczności uzasadniające złożenie reklamacji</p>
            <p>3. W przypadku przekroczenia terminów do zgłoszenia reklamacji określonych w ust. 1 – 2, reklamacja nie będzie rozpatrywana. O przyczynie nierozpatrzenia reklamacji Sprzedawca niezwłocznie powiadomi Klienta. Zwroty należności za reklamacje rozpatrzone pozytywnie na korzyść Klienta, będą dokonywane w nie później niż w ciągu 14 dni roboczych lub będą one przyznawane indywidualnie w postaci rabatu.</p>
            <p class="text-center bold">§8</p>
            <p class="text-center bold">Odpowiedzialność Sprzedawcy</p>
            <p>1. Sprzedawca nie ponosi odpowiedzialności za wprowadzenie przez Klienta błędnych danych (w szczególności przez podanie błędnych danych w formularzach dostępnych na stronie np. Osobowych, czy kontaktowych) lub działanie Klienta w sposób utrudniający lub uniemożliwiający świadczenie i realizację usług przez Sprzedawcę.</p>
            <p>2. Sprzedawca zastrzega sobie prawo do zawieszenia lub zakończenia świadczenia poszczególnych funkcjonalności Serwisu internetowego z uwagi na konieczność konserwacji, przeglądu lub rozbudowy bazy technicznej bądź oprogramowania. Zawieszenie bądź zakończenie świadczeń poszczególnych funkcjonalności Serwisu internetowego nie może naruszać praw Klienta.</p>
            <p class="text-center bold">§9</p>
            <p class="text-center bold">Prawa Konsumenta</p> 
            <p>1. Szczegółowe informacje dotyczące możliwości skorzystania przez Konsumenta z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń oraz zasady dostępu do tych procedur dostępne są w siedzibach oraz na stronach internetowych powiatowych (miejskich) rzeczników konsumentów, organizacji społecznych, do których zadań statutowych należy ochrona konsumentów, Wojewódzkich Inspektoratów Inspekcji Handlowej oraz pod następującymi adresami internetowymi Urzędu Ochrony Konkurencji i Konsumentów:</p>
            <p>a.
              <%=link_to "https://www.uokik.gov.pl/rozwiazywanie_sporow.php", "https://www.uokik.gov.pl/pozasadowe_rozwiazywanie_sporow_konsumenckich.php", target: '_blank' %>
            </p>
            <p>b.
              <%=link_to "https://www.uokik.gov.pl/sprawy_indywidualne.php", "https://www.uokik.gov.pl/sprawy_indywidualne.php", target: '_blank' %>
            </p>
            <p>c.
              <%=link_to "https://www.uokik.gov.pl/wazne_adresy.php", "https://www.uokik.gov.pl/wazne_adresy.php", target: '_blank' %>
            </p>
            <p>2. Konsument posiada następujące przykładowe możliwości skorzystania z pozasądowych sposobów rozpatrywania reklamacji i dochodzenia roszczeń:</p>
            <p>a) Konsument uprawniony jest do zwrócenia się do stałego polubownego sądu konsumenckiego, o którym mowa w art. 37 ustawy z dnia 15 grudnia 2000 r. o Inspekcji Handlowej (Dz.U. z 2014 r. poz. 148 z późn. zm.), z wnioskiem o rozstrzygnięcie sporu wynikłego z Umowy zawartej ze Sprzedawcą.</p>
            <p>b) Konsument uprawniony jest do zwrócenia się do wojewódzkiego inspektora Inspekcji Handlowej, zgodnie z art. 36 ustawy z dnia 15 grudnia 2000 r. o Inspekcji Handlowej (Dz.U. z 2014 r. poz. 148 z późn. zm.), z wnioskiem o wszczęcie postępowania mediacyjnego w sprawie polubownego zakończenia sporu między Konsumentem a Sprzedawcą.</p>
            <p>c) Konsument może uzyskać bezpłatną pomoc w sprawie rozstrzygnięcia sporu między nim a Sprzedawcą, korzystając także z bezpłatnej pomocy powiatowego (miejskiego) rzecznika konsumentów lub organizacji społecznej, do której zadań statutowych należy ochrona konsumentów (m.in. Federacja Konsumentów, Stowarzyszenie Konsumentów Polskich).</p>
            <p>d) może uzyskać bezpłatną pomoc w sprawie rozstrzygnięcia sporu między Klientem a Sprzedawcą, korzystając także z bezpłatnej pomocy powiatowego (miejskiego) rzecznika konsumentów lub organizacji społecznej, do której zadań statutowych należy ochrona Konsumentów (m.in. Federacja Konsumentów, Stowarzyszenie Konsumentów Polskich). Porady udzielane są pod przez Federację Konsumentów pod bezpłatnym numerem infolinii konsumenckiej 800 007 707.</p>
            <p class="text-center bold">§10</p>
            <p class="text-center bold">Dane Osobowe</p>
            <p>1. Administratorem danych osobowych Klientów zbieranych za pośrednictwem Serwisu Internetowego jest Sprzedawca.</p>
            <p>2. Dane osobowe Klientów zbierane przez administratora za pośrednictwem Serwisu Internetowego lub telefonicznie i e-mailowo zbierane są w celu realizacji Umowy kupna-sprzedaży, a jeżeli Klient wyrazi na to osobną zgodę – także w celu marketingowym.</p>
            <p>3. Klient ma prawo dostępu do treści swoich danych oraz ich poprawiania.</p>
            <p>4. Podanie danych osobowych jest dobrowolne, aczkolwiek niepodanie wskazanych w Regulaminie danych osobowych niezbędnych do zawarcia Umowy Sprzedaży skutkuje brakiem możliwości zawarcia tejże umowy.</p>
            <p>5. Szczegółowe sposoby kategorii danych oraz sposobu ich wykorzystania są opisane w Polityce Prywatności cateringu.</p>
            <p class="text-center bold">§11</p>
            <p class="text-center bold">Postanowienia Końcowe</p>
            <p>1. Sprzedawca zastrzega sobie prawo do zmiany niniejszego Regulaminu. O zmianie Regulaminu Sprzedawca powiadomi na stronie Serwisu internetowego na co najmniej 7 dni kalendarzowych przed wejściem w życie zmian w Regulaminie. Zmiana postanowień Regulaminu nie ma zastosowania do Klientów, którzy złożyli zamówienie w czasie obowiązywania poprzedniej wersji Regulaminu.</p>
            <p>2. W pozostałych kwestiach nieuregulowanych zapisami niniejszego Regulaminu mają zastosowanie odpowiednie przepisy prawa polskiego.</p>
            <p>3. Regulamin wchodzi w życie z dniem 25 maja 2018 roku.</p>
            <p class="text-center bold">Dziękujemy!</p>
            <p class="text-center bold">Zespół Pasji Smaku Catering</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          Polityka prywatności
        </h2>
        <hr>
      </div>

      <div class="terms">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p class="text-center bold">I</p>
            <p class="text-center bold">Wprowadzenie</p> 
            <p>Dziękujemy za wybranie Pasja Smaku Catering!</p>
            <p>W naszym cateringu dietetycznym chcemy zapewnić Ci jak najlepsze doświadczenia i pełną satysfakcję z naszych usług. Dlatego też jednym z naszych najważniejszych priorytetów zawsze będzie Twoja prywatność i bezpieczeństwo danych osobowych. Chcemy więc w sposób przejrzysty wyjaśnić, jak gromadzimy, przechowujemy, udostępniamy oraz wykorzystujemy Twoje dane osobowe, a także określić sposoby kontrolowania i określania preferencji, jakie masz do dyspozycji, udostępniając swoje dane osobowe naszej firmie. Taki jest cel niniejszej Polityki Prywatności („Polityka”), która zawiera szczegółowe informacje na ten temat.</p>
            <p class="text-center bold">II</p>
            <p class="text-center bold">Informacje na temat Polityki</p>
            <p>W niniejszej Polityce zostały określone najważniejsze informacje dotyczące sposobu przetwarzania Twoich danych osobowych przez Pasja Smaku Catering Karolina Miazga-Jaje. Niniejsza Polityka ma zastosowanie do wszystkich usług powiązanych z cateringiem dietetycznym. Warunki regulujące zbieranie danych osobowych są określone w Regulaminie będącym podstawą prawną ich wykorzystania. Możemy okresowo opracowywać nowe lub oferować dodatkowe usługi. Jeśli wprowadzenie nowych lub dodatkowych usług spowoduje zmianę sposobu, w jaki gromadzimy lub przetwarzamy Twoje dane osobowe, przekażemy Ci dodatkowe informacje, warunki lub zasady. O ile nie określono inaczej, wprowadzane nowe lub dodatkowe usługi będą podlegać postanowieniom niniejszej Polityki.</p>
            <p>Celem niniejszej Polityki jest:</p>
            <p>• zagwarantowanie, że rozumiesz, jakie dane osobowe pobieramy za Twoją zgodą oraz powody, dla których gromadzimy i wykorzystujemy te dane oraz komu je udostępniamy;</p>
            <p>• wyjaśnienie, w jaki sposób wykorzystujemy dane osobowe, które nam podajesz, abyś z cieszył się radością korzystania z cateringu dietetycznego,</p>
            <p>• wyjaśnienie Twoich praw i preferencji w odniesieniu do gromadzonych przez nas danych osobowych oraz sposobu, w jaki chronimy Twoją prywatność.</p>
            <p>Mamy nadzieję, że pomoże to Tobie zrozumieć nasze zobowiązania dotyczące prywatności. Informacje o tym, w jaki sposób skontaktować się z nami w przypadku jakichkolwiek pytań lub wątpliwości są dostępne w poniższej sekcji „Dane kontaktowe”. Ewentualnie, jeśli nie zgadzasz się z treścią niniejszej Polityki, pamiętaj, że samodzielnie decydujesz, czy chcesz korzystać z naszych usług.</p>
            <p class="text-center bold">III</p>
            <p class="text-center bold">Twoje prawa i preferencje: Kontrola i możliwość wyboru</p> 
            <p>Być może masz świadomość, że nowe prawo Unii Europejskiej, zwane ogólnym rozporządzeniem o ochronie danych osobowych lub „RODO”, przyznaje osobom fizycznym pewne prawa w odniesieniu do ich danych osobowych. W związku z tym wdrożyliśmy dodatkowe mechanizmy kontroli przejrzystości i dostępu w naszym cateringu:</p>
            <p>• prawo dostępu — prawo do bycia informowanym oraz żądania dostępu do przetwarzanych przez nas danych osobowych;</p>
            <p>• prawo do sprostowania — prawo do żądania poprawienia lub zaktualizowania danych osobowych, jeśli są one niedokładne lub niepełne;</p>
            <p>• prawo do usunięcia — prawo do żądania usunięcia danych osobowych;</p>
            <p>• prawo do ograniczenia — prawo do żądania zaprzestania przez nas tymczasowo lub na stałe przetwarzania wszystkich lub części danych osobowych;</p>
            <p>• prawo do sprzeciwu — prawo do sprzeciwu, w dowolnym momencie, wobec przetwarzania przez nas danych osobowych z przyczyn odnoszących się do konkretnych sytuacji lub celów marketingowych;</p>
            <p>• prawo do przenoszenia danych — prawo do zażądania kopii elektronicznej danych osobowych lub przekazania ich w celu wykorzystania przez strony trzecie;</p>
            <p class="text-center bold">IV</p>
            <p class="text-center bold">Sposób, w jaki gromadzimy dane osobowe</p>
            <p>Gromadzimy dane osobowe przy następujący sposób: Kiedy składasz zamówienie na catering dietetyczny — kiedy składasz zamówienie na catering dietetyczny, gromadzone są konkretne dane osobowe pozwalające na realizację zamówienia, takie jak: imię, nazwisko, adres e-mail, adres zamieszkania, kod pocztowy, numer telefonu, numer konta bankowego Kiedy trwa realizacja zamówienia – jaką zamawiasz dietę, gdzie oraz jakie masz preferencje żywieniowe Jeśli piszesz do nas e-maila – w zależności od jego treści, zapisujemy wówczas informacje o uwagach do zamówienia, reklamacjach, czy preferencjach oraz oczywiście jeśli podajesz – dane osobowe niezbędne do realizacji zamówienia.</p>
            <p class="text-center bold">V</p>
            <p class="text-center bold">Dane osobowe, które gromadzimy</p>
            <p>W poniższych tabelach wyszczególniliśmy kategorie Twoich danych osobowych, jakie gromadzimy i wykorzystujemy:</p> 
            <p>1. Imię i nazwisko- Weryfikacja płatności, uwag klienta oraz utrzymywanie korespondencji telefonicznej oraz mailowej.</p>
            <p>2. Adres e-mail- korespondencja e-mail, kontakt z klientem, rozliczenie zamówień oraz zbieranie informacji lub szczegółów zamówienia.</p>
            <p>3. Numer telefonu- Możliwość zbierania oraz składania zamówień, informacja o wysokości płatności za dane zamówienie, informowanie klientów o nagłych opóźnieniach w dostawie, zmianach czy planowanej przerwie w dostarczaniu posiłków.</p>
            <p>4. Adres dostawy- Dostawa produktu, naliczanie zniżek lub dopłat za usługę, odbiór opłaty za usługę z wcześniejszym ustalaniu płatności gotówkowej ze sprzedawcą.</p>
            <p>Podstawą do przetwarzania wymienionych wyżej danych osobowych jest zgoda na przetwarzanie danych osobowych oraz regulamin widniejący na stronie www.pasjasmakucatering.pl</p>
            <p class="text-center bold">VI</p>
            <p class="text-center bold">Przetwarzanie i udostępnianie danych osobowych podmiotom zewnętrznym</p>
            <p>Twoje dane osobowe mogą być przetwarzane przez firmy, z którymi współpracujemy w celu realizacji warunków umowy sprzedaży. Jest to firma księgowa. Firma ta jedynie przetwarza dane osobowe, ale nie jest ich administratorem, więc nie może nimi w dowolny sposób dysponować.</p>
            <p>Twoje dane możemy udostępniać urzędom państwowym takim jak np. Urząd Skarbowy, czy inny podmiot, który będzie miał podstawę prawną do udostępnienia im Twoich danych osobowych.</p>
            <p class="text-center bold">VII</p>
            <p class="text-center bold">Zatrzymywanie i usuwanie danych</p>
            <p>Dane osobowe użytkownika przechowujemy tak długo, jak jest to konieczne, aby dostarczać catering dietetyczny, oraz w uzasadnionych i koniecznych celach biznesowych (m.in. zgodnie z art.74 ust. 1 i 2 Ustawy o Rachunkowości), takich jak utrzymanie statystyk, czy realnych danych biznesowych, zapotrzebowania klientów na rozwój oferty, czy funkcjonalności Serwisu Internetowego oraz wywiązywanie się ze zobowiązań prawnych oraz rozstrzyganie konfliktów. Na Twój wniosek usuniemy lub zanonimizujemy Twoje dane osobowe, tak aby nie służyły one już do Twojej identyfikacji.</p>
            <p class="text-center bold">VIII</p>
            <p class="text-center bold">Bezpieczeństwo danych osobowych</p>
            <p>Naszym celem jest ochrona danych osobowych naszych użytkowników. Wdrażamy odpowiednie środki techniczne i organizacyjne, aby chronić Twoje dane osobowe, jednak pamiętaj, że żaden system nigdy nie jest całkowicie bezpieczny. Wdrożyliśmy szereg nowych procedur i zasad, takie jak Polityki Bezpieczeństwa Danych Osobowych, Instrukcje Zarządzania Systemami Informatycznymi, regularny przegląd miejsc przetwarzania danych osobowych, szkolenia pracowników oraz szyfrowanie jednostek, na których przetwarzane są dane osobowe.</p>
            <p class="text-center bold">IX</p>
            <p class="text-center bold">Zmiany w Polityce Prywatności</p>
            <p>Okresowo możemy zmieniać zapisy Polityki. W przypadku wprowadzenia istotnych zmian do niniejszej Polityki powiadomimy Cię o nich w sposób wyraźny i dostosowany do okoliczności np. wysyłając Ci wiadomość e-mail lub SMS. W niektórych przypadkach powiadomimy Cię z wyprzedzeniem. Dlatego też prosimy o uważne czytanie takich powiadomień.</p>
            <p class="text-center bold">X</p>
            <p class="text-center bold">Dane kontaktowe</p>
            <p>Dziękujemy za przeczytanie naszej Polityki Prywatności. W przypadku jakichkolwiek pytań dotyczących niniejszej Polityki prosimy o kontakt telefoniczny lub wysłanie do nas wiadomości na adres: pasjasmaku@o2.pl lub pod numerem telefonu 531 402 700. Pasja Smaku Catering Karolina Miazga-Jaje jest administratorem danych dla celów związanych z przetwarzaniem danych osobowych w ramach tej Polityki.</p>
            <p class="text-center bold">Dziękujemy!</p> 
            <p class="text-center bold">Zespół Pasja Smaku-Catering</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          Zgoda na przetwarzanie danych osobowych
        </h2>
        <hr>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>W celu pobrania zgody na prztwarzanie danych osobowych kliknij
            <%= link_to "tutaj.", asset_path("ZGODA-NA-PRZETWARZANIE-DANYCH-OSOBOWYCH.pdf"), target: '_blank' %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
