<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
        <hr>
        <p>Zestaw próbny dla nowych klientów w cenie 29zł na jeden dzień!</p>
        <hr>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <%# Remove after this date %>
  <% if Date.new(2018,4,5) > Date.current %>
    <div class="row">
      <div class="box">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
          <hr>
          <p>Cennik ważny od 05.04.2018r</p>
          <hr>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          Diety Standard
        </h2>
        <hr>
        <p class="text-center">Poniższe kwoty dotyczą 5 daniowego zestawu na jeden dzień, z diet standard.</p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5" class="text-center">
                  Ilość zamawianych dni
                </th>
              </tr>
              <tr>
                <th>Kaloryczność</th>
                <th>1-7</th>
                <th>8-14</th>
                <th>15-21</th>
                <th>22<</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1200 kcal</td>
                <td>40zł</td>
                <td>39zł</td>
                <td>38zł</td>
                <td>37zł</td>
              </tr>

              <tr>
                <td>1500 kcal</td>
                <td>42zł</td>
                <td>41zł</td>
                <td>40zł</td>
                <td>39zł</td>
              </tr>

              <tr>
                <td>1700 kcal</td>
                <td>44zł</td>
                <td>43zł</td>
                <td>42zł</td>
                <td>41zł</td>
              </tr>

              <tr>
                <td>2000 kcal</td>
                <td>46zł</td>
                <td>45zł</td>
                <td>44zł</td>
                <td>43zł</td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez glutenu (makarony i nabiał) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez laktozy + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * owocowy deserek do zestawu + 6zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zwiększone białko w posiłkach + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * dodatkowa opłata za wykluczenie lub zamianę składnika + 1zł dziennie za składnik
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          Dieta Wegetariańska
        </h2>
        <hr>
        <p class="text-center">Poniższe kwoty dotyczą 5 daniowego zestawu wegetariańskiego na jeden dzień.</p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5" class="text-center">
                  Ilość zamawianych dni
                </th>
              </tr>
              <tr>
                <th>Kaloryczność</th>
                <th>1-7</th>
                <th>8-14</th>
                <th>15-21</th>
                <th>22<</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1200 kcal</td>
                <td>40zł</td>
                <td>40zł</td>
                <td>40zł</td>
                <td>40zł</td>
              </tr>

              <tr>
                <td>1500 kcal</td>
                <td>42zł</td>
                <td>42zł</td>
                <td>42zł</td>
                <td>42zł</td>
              </tr>

              <tr>
                <td>1700 kcal</td>
                <td>44zł</td>
                <td>44zł</td>
                <td>44zł</td>
                <td>44zł</td>
              </tr>

              <tr>
                <td>2000 kcal</td>
                <td>46zł</td>
                <td>46zł</td>
                <td>46zł</td>
                <td>46zł</td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez glutenu (makarony i nabiał) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez laktozy + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * owocowy deserek do zestawu + 6zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zwiększone białko w posiłkach + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * dodatkowa opłata za wykluczenie lub zamianę składnika + 1zł dziennie za składnik
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          Dieta Wegetariańska + Ryby
        </h2>
        <hr>
        <p class="text-center">Poniższe kwoty dotyczą 5 daniowego zestawu wegetariańskiego + ryby na jeden dzień.</p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5" class="text-center">
                  Ilość zamawianych dni
                </th>
              </tr>
              <tr>
                <th>Kaloryczność</th>
                <th>1-7</th>
                <th>8-14</th>
                <th>15-21</th>
                <th>22<</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1200 kcal</td>
                <td>41zł</td>
                <td>41zł</td>
                <td>41zł</td>
                <td>41zł</td>
              </tr>

              <tr>
                <td>1500 kcal</td>
                <td>43zł</td>
                <td>43zł</td>
                <td>43zł</td>
                <td>43zł</td>
              </tr>

              <tr>
                <td>1700 kcal</td>
                <td>45zł</td>
                <td>45zł</td>
                <td>45zł</td>
                <td>45zł</td>
              </tr>

              <tr>
                <td>2000 kcal</td>
                <td>47zł</td>
                <td>47zł</td>
                <td>47zł</td>
                <td>47zł</td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez glutenu (makarony i nabiał) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez laktozy + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * owocowy deserek do zestawu + 6zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zwiększone białko w posiłkach + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * dodatkowa opłata za wykluczenie lub zamianę składnika + 1zł dziennie za składnik
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>rvm use ruby --defaul
        <h2 class="intro-text text-center">
          Dieta Detox wg Dr Dąbrowskiej
        </h2>
        <hr>
        <p class="text-center">Poniższe kwoty dotyczą 5 daniowego zestawu detox na jeden dzień.</p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="3" class="text-center">
                  Ilość zamawianych dni
                </th>
              </tr>
              <tr>
                <th>Kaloryczność</th>
                <th>1-7</th>
                <th>8-14</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>600-800kcal</td>
                <td>43zł</td>
                <td>43zł</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          Dieta Sportowa
        </h2>
        <hr>
        <p class="text-center">Poniższe kwoty dotyczą 5 daniowego zestawu sportowego na jeden dzień.</p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5" class="text-center">
                  Ilość zamawianych dni
                </th>
              </tr>
              <tr>
                <th>Kaloryczność</th>
                <th>1-7</th>
                <th>8-14</th>
                <th>15-21</th>
                <th>22<</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>3500 kcal</td>
                <td>75zł</td>
                <td>75zł</td>
                <td>75zł</td>
                <td>75zł</td>
              </tr>

              <tr>
                <td colspan="5">
                  * nie obowiązuje zestaw próbny
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * dodatkowa opłata za wykluczenie lub zamianę składnika + 1zł dziennie za składnik
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
