<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
        <hr>
        <p class="bold">Zestaw próbny dla nowych klientów w cenie 35zł na jeden dzień!</p>
        <hr>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <%# Remove after this date %>
  <% if Date.new(2020,1,27) > Date.current %>
    <div class="row">
      <div class="box">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
          <hr>
          <p class="bold">Cennik obowiązuje od 20.01.2020r</p>
          <hr>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center" style="font-weight: bold;">
          Diety Standard
        </h2>
        <hr>
        <p class="text-center">Poniższe kwoty dotyczą 5 daniowego zestawu na jeden dzień, z diet standard.</p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5" class="text-center">
                  Ilość zamawianych dni
                </th>
              </tr>
              <tr>
                <th>Kaloryczność</th>
                <th>1-7</th>
                <th>8-14</th>
                <th>15-21</th>
                <th>22<</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1200 kcal</td>
                <td>47zł</td>
                <td>46zł</td>
                <td>45zł</td>
                <td>44zł</td>
              </tr>

              <tr>
                <td>1500 kcal</td>
                <td>50zł</td>
                <td>49zł</td>
                <td>48zł</td>
                <td>47zł</td>
              </tr>

              <tr>
                <td>1700 kcal</td>
                <td>53zł</td>
                <td>52zł</td>
                <td>51zł</td>
                <td>50zł</td>
              </tr>

              <tr>
                <td>2000 kcal</td>
                <td>56zł</td>
                <td>55zł</td>
                <td>54zł</td>
                <td>53zł</td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez glutenu (zamiana makaronów i chleba na produkty bez glutenu) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez laktozy (zamiana mleka, jogurtów i twarogów na produkty bez laktozy) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zwiększone białko w posiłkach + 3zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * dodatkowa opłata za wykluczenie lub zamianę składnika + 1zł dziennie za składnik
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center" style="font-weight: bold;">
          Dieta Wegetariańska
        </h2>
        <hr>
        <p class="text-center">Poniższe kwoty dotyczą 5 daniowego zestawu wegetariańskiego na jeden dzień.</p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5" class="text-center">
                  Ilość zamawianych dni
                </th>
              </tr>
              <tr>
                <th>Kaloryczność</th>
                <th>1-7</th>
                <th>8-14</th>
                <th>15-21</th>
                <th>22<</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1200 kcal</td>
                <td>47zł</td>
                <td>46zł</td>
                <td>45zł</td>
                <td>44zł</td>
              </tr>

              <tr>
                <td>1500 kcal</td>
                <td>50zł</td>
                <td>49zł</td>
                <td>48zł</td>
                <td>47zł</td>
              </tr>

              <tr>
                <td>1700 kcal</td>
                <td>53zł</td>
                <td>52zł</td>
                <td>51zł</td>
                <td>50zł</td>
              </tr>

              <tr>
                <td>2000 kcal</td>
                <td>56zł</td>
                <td>55zł</td>
                <td>54zł</td>
                <td>53zł</td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez glutenu (zamiana makaronów i chleba na produkty bez glutenu) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez laktozy (zamiana mleka, jogurtów i twarogów na produkty bez laktozy) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zwiększone białko w posiłkach + 3zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * dodatkowa opłata za wykluczenie lub zamianę składnika + 1zł dziennie za składnik
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center" style="font-weight: bold;">
          Dieta Wegetariańska + Ryby
        </h2>
        <hr>
        <p class="text-center">Poniższe kwoty dotyczą 5 daniowego zestawu wegetariańskiego + ryby na jeden dzień.</p>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th colspan="5" class="text-center">
                  Ilość zamawianych dni
                </th>
              </tr>
              <tr>
                <th>Kaloryczność</th>
                <th>1-7</th>
                <th>8-14</th>
                <th>15-21</th>
                <th>22<</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1200 kcal</td>
                <td>48zł</td>
                <td>47zł</td>
                <td>46zł</td>
                <td>45zł</td>
              </tr>

              <tr>
                <td>1500 kcal</td>
                <td>51zł</td>
                <td>50zł</td>
                <td>49zł</td>
                <td>48zł</td>
              </tr>

              <tr>
                <td>1700 kcal</td>
                <td>54zł</td>
                <td>53zł</td>
                <td>52zł</td>
                <td>51zł</td>
              </tr>

              <tr>
                <td>2000 kcal</td>
                <td>57zł</td>
                <td>56zł</td>
                <td>55zł</td>
                <td>54zł</td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez glutenu (zamiana makaronów i chleba na produkty bez glutenu) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zestaw bez laktozy (zamiana mleka, jogurtów i twarogów na produkty bez laktozy) + 2zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * zwiększone białko w posiłkach + 3zł
                </td>
              </tr>

              <tr>
                <td colspan="5">
                  * dodatkowa opłata za wykluczenie lub zamianę składnika + 1zł dziennie za składnik
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
