<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
          Catering Dietetyczny
        </h2>
        <hr>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Dieta</th>
                <th>1-6 dni</th>
                <th>7-14 dni</th>
                <th>14-28 dni</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1200 kcal</td>
                <td>10zł</td>
                <td>20zł</td>
                <td>30zł</td>
              </tr>

              <tr>
                <td>1500 kcal</td>
                <td>15zł</td>
                <td>25zł</td>
                <td>35zł</td>
              </tr>

              <tr>
                <td>1800 kcal</td>
                <td>20zł</td>
                <td>30zł</td>
                <td>40zł</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
