<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <hr>
        <h2 class="intro-text text-center">
          Oferujemy
        </h2>
          <hr>
          <p>- pięć racjonalnie zaplanowanych posiłków dostosowanych do Państwa potrzeb</p>
          <p>- liczba kalorii dopasowywana indywidualnie</p>
          <p>- atrakcyjne i konkurencyjne ceny oraz rabaty</p>
          <p>- możliwość zamówienia zestawu próbnego za jedyne 29zł na jeden dzień</p>
          <p>- możliwość ustalenia diety indywidualnej w gabinecie dietetyka</p>
          <p>- przy zamówieniu bezpłatne porady i opieka dietetyka telefonicznie lub internetowo</p>
          <p>- gwarantujemy bezpłatną dostawę na terenie Ropczyc, Dębicy i okolic</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
        <p>Zacznij delektować się jedzeniem bez gotowania i sprzątania!</p>
        <p>Skorzystaj z pomocy najlepszych specjalistów w żywieniu oraz ciesz się nową figurą i lepszym
          samopoczuciem!</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
